@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


@layer components {
  .dashboard {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  .nav {
    background-color: rgb(34 94 146)
  }

  .list {
    height: 2000px;
  }

  .close {
    margin: 0 -4em 0 0;
  }
}